name: Build LaTeX Resume PDF
on:
  workflow_dispatch:
  push:
    paths: "resume/main.tex"

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
          working_directory: resume/
          work_in_root_file_dir: true
          continue_on_error: true
      - name: Commit PDF to Repo
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update resume pdf
          branch: main
          file_pattern: "*.pdf"
          commit_options: "--no-verify --signoff"
          commit_author: Author <actions@github.com>
          status_options: "--untracked-files=no"
          skip_dirty_check: true
    #   - name: Upload PDF file
    #     uses: actions/upload-artifact@v4
    #     with:
    #       name: PDF
    #       path: resume/main.pdf
    #       if-no-files-found: error
